.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-bottom: 5px;
  width: max-content;
  transition: background-color 0.2s;
}

.menu-item span {
  color: white;
  font-size: 110%;
}

.menu-item:hover {
  background-color: rgb(109, 109, 109);
}

.menu-item-active {
  background-color: rgb(109, 109, 109);
}

.uploadBtn {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  width: max-content;
  transition: all 0.2s;
  margin: 0;
  margin-bottom: 3px;
}

.uploadBtn:hover {
  background-color: rgb(240, 208, 65);
}

.menuBtn {
  width: max-content;
  border: 'solid 1px white';
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0;
}

.menuBtn:hover {
  background-color: rgb(240, 208, 65);
}

.menu-item-phone {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 5px;
  width: max-content;
  color: white;
  font-size: 80%;
  text-align: center;
  transition: background-color 0.2s;
}

.menu-item-phone p{
  margin: 0;
}

.menu-item-active-phone {
  background-color: rgb(109, 109, 109);
}