html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: -8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffffff;
}

html ::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgb(33, 32, 75);
  margin: 0;
}

html {
  overflow-y: overlay;
}
